* {
  margin: 0;
  padding: 0;
}
.position-static {
  background: yellow;
  width: 200px;
  height: 200px;
  position: static;
  margin: auto;
}
.position-relative {
  background: skyblue;
  width: 400px;
  height: 200px;
  position: relative;
  left: 50px;
  right: 60px;
  top: 50px;
  bottom: 60px;
}
.position-absolute{
    width: 50px;
    height: 50px;
    background: red;
    border-radius: 50%;
    position: absolute;
    bottom: 20px;
    right: 10px;
    top: 20px;
}
.position-fixed{
    width: 100px;
    height: 100px;
    background: burlywood;
    position: fixed;
    top: 10px;
    left: 10px;
}
.box{
    width: 100px;
    height: 900px;
}
.position-sticky{
    width: 200px;
    height: 100px;
    background: black;
    color: white;
    font-size: 20px;
    position: sticky;
    top: 10px;
    left: 400px;
}